[Desktop Entry]
Type=Application
Name=LVAS Kiosk Launcher
Exec=/home/stef/linux-voice-assistant/lvas_startup/lvas_launch.sh
X-GNOME-Autostart-enabled=true
